<a href="https://colab.research.google.com/github/Olia7152/Chess-project/blob/main/HW9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('sample_data/california_housing_test.csv')

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [5]:
 #Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

int(df[
   df['population'] <= 500
].median_house_value.mean())

190157

In [10]:
#Узнать какая максимальная households в зоне минимального значения population

min_pop =df.population.min()
df[
    df['population'] == min_pop
].households.max()

3.0